@font-face {
  font-family: 'dohyeon';
  src: url('../assets/fonts/BMDOHYEON_ttf.ttf');
}
@font-face {
  font-family: 'BMEuljiro10yearslater';
  src: url('../assets/fonts/BMEuljiro10yearslater.ttf');
}
@font-face {
  font-family: 'BMEuljirooraeorae';
  src: url('../assets/fonts/BMEuljirooraeorae.ttf');
}
@font-face {
  font-family: 'BMEULJIROTTF';
  src: url('../assets/fonts/BMEULJIROTTF.ttf');
}
@font-face {
  font-family: 'BMHANNA_11yrs_ttf';
  src: url('../assets/fonts/BMHANNA_11yrs_ttf.ttf');
}
@font-face {
  font-family: 'BMHANNAAir_ttf';
  src: url('../assets/fonts/BMHANNAAir_ttf.ttf');
}

.v-btn,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
.v-field,
.v-list-item {
  font-family: 'dohyeon';
  /* font-family: 'IBM Plex Sans KR', sans-serif; */
}

.password input {
  font-family: 'Courier New', Courier, monospace;
}

.v-tab {
  font-family: 'Noto Sans KR', sans-serif;
}

.v-card-title {
  font-family: 'Courier New', Courier, monospace;
  /* font-size: 30px; */
  /* background-color: yellow; */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-view {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
